# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.DS_Store

node_modules
dist
dist-ssr
*.local

# .env
.env
.env.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Pipeline
free-alternatives-pipeline/node_modules
free-alternatives-pipeline/.env
free-alternatives-pipeline/dist
free-alternatives-pipeline/dist-ssr

# Vercel
.vercel